{% extends "base.html" %}

{% block content %}
<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% url 'book' %}">

          <img src="famousfive.jpg" alt="famousfive" style="width:100%">
          
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% url 'book' %}" target="_blank">
          <img src="secretseven.jpg" alt="secretseven" style="width:100%">
          
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% url 'book' %}" target="_blank">
          <img src="schoolstories.jpg" alt="schoolstories" style="width:100%">
          
        </a>
      </div>
    </div>
  </div>
</div>


{% endblock %}